.navigation {
  width: 100%;
  display: flex;
  background-color: black;
}
.navigation .logo-wrapper .logo img {
  width: 70px;
  border-radius: 50%;
  margin: 0.2em 0.9em;
}
.navigation .menu-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation .menu-items a {
  margin: 0 0.9em;
  text-transform: uppercase;
  cursor: pointer;
  color: #fdfdfd;
  font-family: 'Bebas neue';
  font-size: 25px;
}
